{% extends "account/base.html" %}

{% load static i18n %}

{% block title %} {{ paket.name }} {% endblock title %}

{% block head_title %}{% trans "order" %}{% endblock %}
<head>
    <link rel="stylesheet" href="../../static/bundles/css/bootstrap.css">
</head>
{% block content %}

   <div style="margin-left: 30vw; height: 40vh; padding-top: 10vh">
       <h2>Подписка оформлена</h2>
       <br>
   <a href="{% url 'account_inactive'%}">Перейти в личный кабинет</a>
       <br>
   <a href="{% url 'index' %}">Перейти к просмотру фильмов</a>
   </div>

{% endblock %}